html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}

#theCanvas {
    width: 1000px;
    height: 600px;
    margin: -300px 0px 0px -500px;
    position: absolute;
    top: 50%;
    left: 50%;
}

